html {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
}

body {
    margin: 60px 0 50px;
    padding: 0;
    background-color: #E0E8E0;
}

header {
    background-color: #00A040;
    background: linear-gradient(#008040, #00A040);
    border-bottom: 2px solid #606060;
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    overflow:hidden;
}

footer {
    background-color: #008040;
    background: linear-gradient(#00A040, #008040);
    border-top: 2px solid #606060;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow:hidden;
}

#copyright {
    text-align: right;
    padding: 20px 20px 0 0;
    color: #FFFFFF;
    font-size: 12px;
    text-shadow: 1px 1px 0px #006020;
}
#copyright a, a:focus, a:hover {
    color: #FFFFFF;
}

#title {
    padding: 15px 0 0 20px;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 0px #006020;
}

#main {
    padding: 20px 0 20px 20px;
}

#camera {
    border: 10px #333333 solid;
}