[data-role=page] {
    min-height: 100% !important;
    height:auto !important;
}

[data-role=footer] {
    position: absolute !important;
    left: 0 !important;
    bottom: 0 !important;
    width:100%;
}

.ui-page {
    background-color: #E0E8E0 !important;
}

.ui-page .ui-header {
    background-color: #00A040 !important;
    background: linear-gradient(#008040, #00A040) !important;
}

.ui-page .ui-footer {
    background-color: #008040 !important;
    background: linear-gradient(#00A040, #008040) !important;
}

.ui-page .ui-header .ui-btn-right {
    background-color: #005020 !important;
}

.ui-page .ui-header .ui-btn-active {
    background-color: #505050 !important;
}

.ui-page .ui-content {
    padding: 20px !important;
    margin-bottom: 40px !important;
    overflow-x: auto !important;
    white-space: nowrap;
}

#cameracontainer {
    float: left;
    width: 660px;
}

#statuscontainer {
    float: left;
    width: 300px;
}

#cameraproperties {
    margin-left: 680px;
    width: 300px;
    background-color: #D0E8D0;
    padding: 10px;
    border: 2px solid #00A040;
    border-radius: 10px;
}

#camera {
    border: 10px #006010 solid;
}

#copyright {
    text-align: right;
    padding: 10px 20px 10px 0;
    color: #FFFFFF;
    font-size: 12px;
    text-shadow: 1px 1px 0px #006020;
}
#copyright a, a:focus, a:hover {
    color: #FFFFFF;
}
